header{
    height: 90px;
    /* DEBUG */
    background-color: red;
}

/* DEBUG */
[class*="col-"]{
    background-color: brown;
    height: 90px;
    border: 1px solid black;
}

section img{
    background-color: blue;
    width: 200px;
}

.section_1{
    background-color: #1abc9c;
    min-height: 500px;
}
