/* General Rules */
li{
    list-style: none;
}

:root{
    --secondary-color: #2c3e50;
    --background-color: #1abc9c;
}

/* Header Rules */
header{
    height: 90px;
    background-color: var(--secondary-color);
}

header nav{
    height: 100%;
}

nav h1{
    font-size: 28px;
    color: white;
    font-weight: 600;
}

nav h2{
    color: white;
    font-weight: 600;
    font-size: 20px;

}

nav a{
    color: white;
    text-decoration: none;
}

nav i{
    font-size: 20px;
}

header .row{
    height: 100%;
}

/* Main Rules */

/* DEBUG */
[class*="col-"]{
    /* border: 1px solid black; */
}

section img{
    /* DEBUG */
   width: 250px;
}

section h2{
    color: white;
    font-weight: 600;
    font-size: 40px;
}

.ms_section_1{
    background-color: var(--background-color)
}

.ms_section_1 div{
    color: white;
    font-size: 20px;
    font-weight: 500;
}


.ms_section_1 i{
    font-size: 28px;
}

.ms_section_1 .ms_bar {
    background-color: white;
}

.ms_bar{
    height: 4px;
    width: 80px;
    border-radius: 20px;
}

.ms_bar.two{
    width: 130px;
}

.ms_section_2 h3{
    color: var(--secondary-color);
    font-weight: 600;
}

.ms_section_2 .ms_bar {
    background-color: var(--secondary-color);
}

.ms_section_2 i{
    color: var(--secondary-color);
    font-size: 23px;
}

.ms_section_2 img{
    width: 100%;
    border-radius: 15px;
}

.ms_section_3{
    background-color: var(--background-color);
}

.ms_section_3 h3{
    color: white;
    font-weight: 600;
}

.ms_section_3 i{
    color: white;
    font-size: 28px;
}

.ms_section_3 .ms_bar {
    background-color: white;
}

.ms_section_3 p{
    color: white;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
}

.ms_section_3 a{
    color: white;
    border: 1px solid white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.ms_section_3 a i{
    font-size: 20px;
}



footer{
    height: 560px;
}

.top{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* DEBUG */
    background-color: rebeccapurple;

}

.bottom{
    height: 20%;
    /* DEBUG */
    background-color: aqua;
}