/* General Rules */
li{
    list-style: none;
}

:root{
    --secondary-color: #2c3e50;
    --background-color: #1abc9c;
}



/* Header Rules */
nav {
    background-color: #2c3e50;
}

nav a:hover{
    text-decoration: underline;
}

.ms_title:hover{
    text-decoration: none;
}

/* Main Rules */
main{
    padding-top: 70px;
}

.ms_section_1 img{
   width: 250px;
   cursor: pointer;
}

.ms_section_1 h2{
    color: white;
    font-weight: 600;
    font-size: 40px;
}

.ms_section_1{
    background-color: var(--background-color)
}

.ms_section_1 div{
    color: white;
    font-size: 20px;
    font-weight: 500;
}


.ms_section_1 i{
    font-size: 28px;
}

.ms_section_1 .ms_bar {
    background-color: white;
}

.ms_bar{
    height: 4px;
    width: 80px;
    border-radius: 20px;
}

.ms_bar.two{
    width: 130px;
}

.ms_section_2 h3{
    color: var(--secondary-color);
    font-weight: 600;
}

.ms_section_2 .ms_bar {
    background-color: var(--secondary-color);
}

.ms_section_2 i{
    color: var(--secondary-color);
    font-size: 23px;
}

.ms_section_2 img{
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
}

#ms_submit:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.ms_section_3{
    background-color: var(--background-color);
}

.ms_section_3 h3{
    color: white;
    font-weight: 600;
}

.ms_section_3 i{
    color: white;
    font-size: 28px;
}

.ms_section_3 .ms_bar {
    background-color: white;
}

.ms_section_3 p{
    color: white;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
}

.ms_section_3 a{
    color: white;
    border: 1px solid white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.ms_section_3 a:hover{
    color: var(--background-color);
    background-color: white;
}

.ms_section_3 a:hover i{
    color: var(--background-color)
}

.ms_section_3 a i{
    font-size: 20px;
}

.ms_section_4 h3{
    font-weight: 600;
}

.ms_section_4 .ms_bar{
    background-color: var(--secondary-color);
}

.ms_section_4 i{
    color: var(--secondary-color);
    font-size: 30px;
}

.ms_section_4 form{
    width: 55%;
}

.ms_section_4 form > *{
    border: none;
    border-bottom: 2px solid lightgray;
    width: 100%;
    padding: 15px;
}

.ms_section_4 form > *:focus{
    outline: none;
}

.ms_section_4 form > *::placeholder{
    color: var(--secondary-color);
    font-weight: 600;
    opacity: 1;
    font-size: 18px;
}

#ms_submit{
    background-color: var(--background-color);
    color: white;
    width: 80px;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 10px;
    font-weight: 600;
    border: none;
    align-self: flex-start;
}

#ms_submit:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

footer{
    height: 560px;
}

.top{
    height: 80%;
    background-color: #3a546d;
}

.top p{
    font-size: 20px;
}

.top a{
    color: white;
    text-decoration: none;
}

.top p a{
    color: #1abb9b;
    text-decoration: none;
}

.top p a:hover{
    text-decoration: underline;
}

.top .col-12{
    color: white;
    font-size: 18px;
}

.top .col-12 i{
    border: 1px solid white;
    font-size: 20px;
    border-radius: 50%;
}

.top .col-12 i:hover{
    background-color: white;
    border: 1px solid #3a546d;
    color: #3a546d;
}

.fa-facebook-f{
    padding: 15px 20px;
}

.fa-google-plus-g{
    padding: 15px 13px;
}

.fa-twitter{
    padding: 15px 15px;
}

.fa-linkedin-in{
    padding: 15px 17px;
}

.bottom{
    height: 20%;
    background-color: #2c3e50;
}

.bottom div{
    color: white;
    font-size: 14px;
}

.bottom div i{
    font-size: 10px;
}